<footer class="page-footer font-small blue pt-4">
  <div class="text-center text-md-left">
    <div class="row">
      <div class="col-md-9">
        <h5 class="text-uppercase">Обратная связь</h5>
        <p>Можете направлять замечания и пожелания либо на почту, либо в телеграм.</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Ссылки</h5>

        <ul class="list-unstyled">
          <li>
              Telegram: <span class="username">@mrEvgenX</span>
          </li>
          <li>
            Почта:
            <a href="mailto:mrEvgenix@gmail.com">
              <span class="username">mrEvgenix@gmail.com</span>
            </a>
          </li>
          <li>
            Инстаграм:
            <a href="https://www.instagram.com/mrEvgenX/">
              <span class="username"><a href="#">mrEvgenX</a></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> mrEvgenX.github.io</a>
  </div>
</footer>
