<footer class="page-footer font-small blue pt-4 bg-light">
  <div class="text-center text-md-left" style="padding-left: 10px; padding-right: 10px;">
    <div class="row">
      <div class="col-md-9">
        <h5 class="text-uppercase">Обратная связь</h5>
        <p>Любые вопросы, замечания или пожелания направляйте лично по электронной почте, либо в телеграм.</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Ссылки</h5>

        <ul class="list-unstyled">
          <li>
              Telegram: <span class="username">@mrEvgenX</span>
          </li>
          <li>
            Почта:
            <a href="mailto:mrEvgenix@gmail.com">
              <span class="username">mrEvgenix@gmail.com</span>
            </a>
          </li>
          <li>
            Инстаграм:
            <a href="https://www.instagram.com/mrEvgenX/">
              <span class="username"><a href="https://www.instagram.com/mrevgenx/">mrEvgenX</a></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">&copy;
    <a href="/"> mrEvgenX.github.io</a>
    2018
  </div>
</footer>
