
<div class="row no-gutters">
  <div class="col-md-4 d-md-block d-none">
    <img class="w-100" src="/images/image.jpg" alt="Фото John Baker на Unsplash.com">
  </div>
  <div class="col-md-8 col-12 bg-light" style="padding:15px;">
    <p>Я здесь разрабатываю, перевожу, кручу и немного философствую</p>
  </div>
</div>

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd; margin-bottom: 10px;">
  <a class="navbar-brand" href="/">mrEvgenX</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Статьи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Портфолио</a>
      </li>
    </ul>
  </div>
</nav>
