<!DOCTYPE html>
<html lang="ru">

  {%- include head.html title=page.title share_img=page.share_img excerpt=page.excerpt -%}

  <body>
    <div class="container">
      {%- include header.html -%}
      <div class="row">
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{content}}
        </div>
      </div>

      {%- include footer.html -%}
    </div>
    <script
        data-isso-id="main"
        data-isso-css="true"
        data-isso-lang="ru"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="3"
        data-isso-reveal-on-click="5"
        src="http://mrevgenx-pyex-mrevgenx-pyex.1d35.starter-us-east-1.openshiftapps.com/js/embed.min.js"></script>
  </body>

</html>
