---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="alert alert-light alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <a href="{{ site.baseurl }}{% post_url 2019-01-29-comments-that-matter %}" class="alert-link" style="text-decoration: underline;">Анонс комментариев и политики конфиденциальности!</a> Оставьте свой след на сайте.
  </div>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = "%Y-%m-%-d" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <hr/>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
